<div *ngIf="isLoader" class="overlay">
    <div class="spinner-border text-light spinner" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container col-2 col-10">
    <div class="row mt-4">
        <div class="col-7">
            <h2>All Rooms</h2> <!-- Add a header above the table -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">name</th>
                        <th scope="col">code</th>
                        <th scope="col">Active Status</th>
                        <th scope="col">Building</th>
                    </tr>
                </thead>
                <tbody *ngIf="isLoader == false">
                    <tr *ngFor="let roomitem of allRooms; let bi=index">
                        <td>{{bi+1}}</td>
                        <td>{{roomitem.name}}</td>
                        <td>{{roomitem.code}}</td>
                        <td>{{roomitem.isactive}}</td>
                        <td>{{roomitem.building.name}}</td>
                    </tr>
                </tbody>

                <tbody *ngIf="isLoader == true">
                    <tr>
                        <td colspan="6" >
                            <div class="d-flex align-items-center">
                                <strong>Loading...</strong>
                                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                              </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                   Create Room
                </div>
                <div class="card-body">
                    <form #roomForm="ngForm">
                        <div class="row">
                            <div class="col-6">
                                <label for="roomname">Room Name</label>
                                <input type="text" class="form-control" name="name" [(ngModel)]="createUpdateRoomModel.name" placeholder="Enter">
                            </div>
                            <div class="col-6">
                                <label for="roomcode">room Code</label>
                                <input type="text"  class="form-control" name="code" [(ngModel)]="createUpdateRoomModel.code" placeholder="Enter">
                            </div>
                            <div class="form-group">
                                <label for="userType">User Type:</label>
                                <select formControlName="userType"  class="form-control">
                                    <option disabled selected value="">Select Building</option>
                                  <option *ngFor="let bu of builings" [value]="bu.Id">{{ bu.name }}</option>
                                </select>
                              </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-6">
                                <button class="btn btn-sm btn-secondry" (click)="resetForm(roomForm)">Reset</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-sm btn-secondry" *ngIf="createUpdateRoomModel.id == ''" (click)="createRoom()">
                                    <span *ngIf="isLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Save</button>
                                <!-- <button class="btn btn-sm btn-secondry" *ngIf="createBuidlingobj.id !== ''" (click)="upda()">
                                    <span *ngIf="isLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Update</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>